/venv/
/sheets/database/preprocessed/
/sheets/database/staffs/
/sheets/database/cropped/
/sheets/database/notes/
/sheets/user/preprocessed/
/sheets/user/staffs/
/sheets/user/cropped/
/yolo_notes/
/detected/
